<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bid.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bid.description %>
</p>

<p>
  <strong>Minimum bid:</strong>
  <%= @bid.minimum_bid %>
</p>
<p>
  <%= render "bid_amount/form" %>
</p>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
